<form action='/items' method="POST">
  <p>
    <label>Item Name:</label>
    <input type="text" name="item[name]" >
    <br>
    <label>Team Motto:</label>
    <input type="text" name="team[motto]" >
  </p>
</form>
