<form action='/items' method="POST">
  <p>
    <label>User Name:</label>
    <input type="text" name="user[name]" >
    <br>
    <label>Item:</label>
    <input type="text" name="user[items][][name]" >
  </p>
<button type="submit" value="submit">Submit</button>
</form>
